.wrapper {
  width: 100%;
  display: flex;
}

.brown {
  position: relative;
  flex: 0 0 35%;
}

.brown-img {
  width: 41.5rem;
  height: 55rem;
  position: absolute;
  top: -17rem;
  display: flex;
  z-index: 10;
}

.brown-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  margin-bottom: 10rem;
}

.brown-img div {
  writing-mode: vertical-rl;
  transform: scale(-1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 6.3rem;
  color: #c4090a;
  font-family: 'Open Sans';
  font-weight: 400;
  margin-bottom: 1rem;
}

.img-description {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 400;
  padding-top: 1rem;
  border-top: 0.1rem solid black;
}

.alias {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alias-form {
  margin-top: 15rem;
}

.form-select {
  -webkit-appearance: none;
  border: 0.1rem solid black;
  padding: 2rem 3rem;
  border-radius: 0;
  background-color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
  color: #afafaf;
  font-family: 'Open Sans';
  font-weight: 400;
  width: 45rem;
  height: 8rem;
  margin-bottom: 5rem;
}

.button {
  margin-left: 3rem;
  width: 12rem;
  height: 5.8rem;
  background-color: #c4090a;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  line-height: 3.2rem;
  color: #ffffff;
  font-family: 'Open Sans';
  font-weight: 600;
}

.output-hidden {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 0;
}

.output-show {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 1;
}

.output-hidden,
.output-show {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
  color: black;
  font-family: 'Open Sans';
  font-weight: 400;
}

/* BREAKPOINTS */
@media (max-width: 1364px) {
  .brown-img img {
    width: 90%;
    height: 90%;
  }

  .alias-form {
    margin-top: 12rem;
  }

  .form-select {
    height: 7rem;
  }

  .img-description,
  .page {
    font-size: 1.1rem;
  }

  .brown-img {
    top: -12rem;
  }
}

@media (max-width: 1287px) {
  .brown-img img {
    width: 85%;
    height: 85%;
  }

  .brown-img {
    top: -10rem;
  }
}

@media (max-width: 1024px) {
  .brown-img img {
    width: 85%;
    height: 85%;
  }

  .brown-img {
    top: -10rem;
  }

  .brown-img {
    top: 0;
  }

  .brown {
    flex: 0 0 50%;
  }

  .form-select {
    width: 37rem;
    margin-bottom: 2rem;
  }

  .alias-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .form-select {
    width: 100%;
    margin-bottom: 1rem;
  }

  .alias-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin: 0;
    height: 4.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1920px) {
  .brown-img img {
    width: 120%;
    height: 120%;
  }

  .brown-img {
    top: -26rem;
  }
}
