.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.grey {
  width: 75%;
  height: 60rem;
  background-color: rgb(247, 247, 246);
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  margin: auto;
}

.section-text {
  padding: 4rem;
}

.section-image {
  margin-top: 5rem;
  padding: 2rem;
  width: 56%;
}

.section-image img {
  width: 100%;
  height: auto;
}

.section-text h1 {
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
  line-height: 6.3rem;
  color: #000913;
  font-family: 'Open Sans';
  font-weight: 800;
}

.section-text p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
  color: #000000;
  font-family: 'Open Sans';
  font-weight: 400;
  white-space: nowrap;
}

/* BREAKPOINTS */

@media (max-width: 1287px) {
  .section-image {
    width: 53%;
  }

  .section-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .section-text h1 {
    font-size: 2rem;
  }

  .grey {
    width: 77%;
  }
}

@media (max-width: 1024px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .section-text {
    padding: 0;
  }

  .section-text p {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    line-height: 2.6rem;
  }

  .section-image {
    width: 65%;
    margin-top: 0;
    padding: 0;
  }

  .section-text h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1920px) {
  .section-text h1 {
    font-size: 4rem;
  }

  .section-text p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .grey {
    height: 80rem;
  }
}
